<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./lib/css/style.css">

    <title>Library</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Library</h1>

        <button class="float-right btn btn-danger" type="submit">Вход/Регстрация</button>
    </div>

    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./lib/js/jquery.min.js"></script>
    <script src="./lib/js/popper.min.js"></script>
</body>
</html>